.chat {
    flex: 0.7;
    flex-grow: 1;
    overflow-y: hidden;
    padding-bottom: 150px;
}
.MuiPaper-root{
    background-color: #e6f7ff !important;

}
.ant-layout{
    background-color: #e6f7ff !important;

}
body{
    overflow-x: hidden;
    background-color: #e6f7ff !important;
}
.ant-card{
    background-color: #e6f7ff !important;
}
.chat_slide{
        flex: 0.7;
        flex-grow: 1;
        overflow-y: hidden;
        padding-bottom: 150px;
        border-left:1px solid #ccc
    }

.chat__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.chat__channelName {
    display: flex;
    text-transform: lowercase;
}

.chat__channelName>.MuiSvgIcon-root {
    margin-left: 10px;
    font-size: 18px;
}

.chat__headerRight>p {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.chat__headerRight>p>.MuiSvgIcon-root {
    margin-right: 5px !important;
    font-size: 16px;
}

